
<div class="water">

<form action="/user" method="POST" encType="multipart/form-data">
  <h3>Upload Water leak Image</h3>
  <input type="file" name="sampleFile" accept="image/*" />
  <input type="submit" class="btn btn-primary">
</form>
</div>


<!DOCTYPE html>
<html>
<body>

<p>Allow Smart Water Solutions to get your coordinates.</p>

<button onclick="getLocation()">Add location</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");
  // const position = {latitude, longitude};
   // const options = {
  //  method: 'POST',
  //  headers: {
    //  'Content-Type': 'application/json'
    //}
   // body: JSON.stringify(position)
 // }
 // const res = await fetch('/fetch', options);
 // const json = await res.json();
 // console.log(json);
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>


