<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
  <script type="text/javascript">
    function stopDefault(event) {
      event.preventDefault();
      event.stopPropagation();
    }
    function dragOver(label, text) {
      /* ADD ALMOST ANY STYLING YOU LIKE */
      label.style.animationName = "dropbox";
      label.innerText = text;
    }
    function dragLeave(label) {
      /* THIS SHOULD REMOVE ALL STYLING BY dragOver() */
      var len = label.style.length;
      for (var i = 0; i < len; i++) {
        label.style[label.style[i]] = "";
      }
      label.innerText = "Click to choose images or Drop them here";
    }
    function addFilesAndSubmit(event) {
      var files = event.target.files || event.dataTransfer.files;
      document.getElementById("filesfld").files = files;
      submitFilesForm(document.getElementById("filesfrm"));
    }
    function submitFilesForm(form) {
      var label = document.getElementById("fileslbl");
      dragOver(label, "Uploading images..."); // set the drop zone text and styling
      var fd = new FormData();
      for (var i = 0; i < form.filesfld.files.length; i++) {
        var field = form.filesfld;
        fd.append(field.name, field.files[i], field.files[i].name);
      }
      var progress = document.getElementById("progress");
      var x = new XMLHttpRequest();
      if (x.upload) {
        x.upload.addEventListener("progress", function (event) {
          var percentage = parseInt(event.loaded / event.total * 100);
          progress.innerText = progress.style.width = percentage + "%";
        });
      }
      x.onreadystatechange = function () {
        if (x.readyState == 4) {
          progress.innerText = progress.style.width = "";
          form.filesfld.value = "";
          dragLeave(label); // this will reset the text and styling of the drop zone
          if (x.status == 200) {

          }
          else {
            // failed - TODO: Add code to handle server errors
          }
        }
      };
      x.open("post", form.action, true);
      x.send(fd);
      return false;
    }
  </script>
  <style>
    body {
      background-color: #E5F0E6;
    }

    #mymap {
      height: 180px;
    }
  </style>
  <title>Document</title>
</head>

<body style="background-color: black;">
  <div class="menu-wrapper">
    <header class="header">
      <a href="/" class="logo"><img alt="Logo" src="/img/logo.jpg"><i class="fa fa-home" aria-hidden="true"></i></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li class="hide"><a href="#" class="remove-hover">{{#each username}}<span style="color: whitesmoke; vertical-align: 12px;">Welcome {{name}}</span>{{/each}}&nbsp;&nbsp;<i style="color: whitesmoke; font-size:44px; margin-top:-11px;" class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
       	<a href="/class">Leak image Classification</a>
        {{!-- <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li> --}}
      </ul>
    </header>
  </div>

  <div class="home">
    ​<center>
      <h1>Welcome</h1>
    </center>
  </div>

  {{!-- Testing 1,2 --}}
  <div class="containerr">
    <div class="columns">
      <form action="/johnquery" method="POST">
        <div class="section">
          <div class="column">
            <div class="section">
              <h2>Send a Query</h2>
                  <div>
                    <label for="">Describe your Query:</label>
                    <textarea name="Query" placeholder="Enter your Query here"></textarea>
                  </div>
              <div>
                <input type="submit" class="center bigger-button" value="send your Query">
              </div>
            </form>
            </div>

            </center>

          </div>
          <div class="column">
            <div class="section">

              <div class="water">
                <h2>Upload Media</h2>
                <form id="filesfrm" action="/user" method="post" onsubmit="return submitFilesForm(this);">
                  <input type="file" name="filesfld" id="filesfld" accept="image/*"
                    onchange="submitFilesForm(this.form);" multiple />
                  <label for="filesfld" id="fileslbl" style="display: block;"
                    ondragover="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
                    ondragenter="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
                    ondragleave="stopDefault(event);dragLeave(this);"
                    ondrop="stopDefault(event);dragLeave(this);addFilesAndSubmit(event);">
                    <div><i style="font-size:48px;color:#cccccc;" class="fa fa-cloud-upload"></i></div>
                    <div style="color:#cccccc;">Drag & Drop to Upload file or <br> Click to Upload</div>
                  </label>
                </form>
                <div style="text-align: left;">
                  <div id="progress"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h2>Attach Location</h2>
              <p>
                latitude: <span id="latitude"></span>&deg;<br />
                longitude: <span id="longitude"></span>&deg;
              </p>
              <div id="mymap"></div>
            </div>
          </div>
          <div>
            <input type="submit" class="bigger-button" value="Send Your Query">
          </div>
      </form>
    </div>
    
<footer id="contact">
  <ul>
    <div id="icon-container">
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-twitter"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-instagram"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-facebook-f"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="far fa-envelope"></i></li>
        </div>
      </a>
  </ul>
  <p>&copy 2021 Smart Water Solutions</p>
 
</footer>
  <script>
    if ('geolocation' in navigator) {
      console.log('geolocation available');
      navigator.geolocation.getCurrentPosition(async position => {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        console.log(lat, lon);
        document.getElementById('latitude').textContent = lat;
        document.getElementById('longitude').textContent = lon;

        const mymap = L.map('mymap').setView([lat, lon], 15);
        const attribution =
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        const marker = L.marker([lat, lon]).addTo(mymap);

        const data = { lat, lon };
        const options = {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            lon: lon,
            lat: lat
          })
        }
        const response = await fetch('/user', options);
        const json = await response.json();
        await db.run('insert into query (longitude, lattitude) values (?, ?)', lon, lat)
      });
    } else {
      console.log('geolocation not available');
    }
  </script>

</body>

</html>